@model ModelLayer.ViewModels.CartInfoViewModel

@{
    ViewData["Title"] = "ViewCart";
}

<div style="color:red;">@Html.ValidationSummary()</div>
<div class="row">
    <!--Show details are saved successfully message-->
    <div class="col-lg-12">@ViewBag.Message</div>
</div>

<h1>Cart for @Model.Store.StoreLocationName</h1>
<h2>Cart Id: @Model.OrderId</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Line ID
            </th>
            <th>
                Product
            </th>
            <th>
                Price Per
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderLine in Model.ProductsInOrder)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => orderLine.OrderDetailsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.Item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.Item.Product.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.OrderDetailsQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => orderLine.OrderDetailsPrice)
            </td>
            <td>
                <a asp-controller="Shop" asp-action="DeleteOrderLineItem" asp-route-orderLineId="@orderLine.OrderDetailsId">Remove Item</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p>Total: @Model.TotalPrice</p>
<a asp-controller="Shop" asp-action="Store" asp-route-id="@Model.Store.StoreLocationId">Continue Shopping at @Model.Store.StoreLocationName</a> |
<a asp-controller="Shop" asp-action="Index">Choose Store</a> |
<a asp-controller="Shop" asp-action="ViewCarts">View All Carts</a> |
<a asp-controller="Shop" asp-action="Checkout" asp-route-cartId="@Model.OrderId">Check out!</a>