@model ModelLayer.ViewModels.ProductInfoViewModel

@{
    ViewData["Title"] = "Details";
}

<div style="color:red;">@Html.ValidationSummary()</div>
<div class="row">
    <!--Show details are saved successfully message-->
    <div class="col-lg-12">@ViewBag.Message</div>
</div>

<h1>Details</h1>

<div>
    <h4>ProductInfoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAgeRestricted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAgeRestricted)
        </dd>
    </dl>
</div>
<div>
    @if (true)
    {
        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductID">Edit</a>
    }
    | <a asp-action="Index">Back to List</a>
</div>
